[language-server.gpt]
command = "bun"
args = ["--inspect=0.0.0.0:6499", "run", "src/app.ts", "--handler", "copilot", "--logFile", "helix-gpt.log"]

[language-server.ts]
command = "typescript-language-server"
args = ["--stdio"]
language-id = "javascript"

[[language]]
name = "typescript"
auto-format = true
indent = { tab-width = 2, unit = " " }
language-servers = [
  "ts",
  "gpt"
]

